<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Dashboard</title>
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>Welcome to your Dashboard <%= user.username %></h1>
    <div>
      <% puzzles.forEach(puzzle => { %>
        <h2><%= puzzle.name %></h2>
        <img src="<%= puzzle.img %>" width="200px">
        <p><%= puzzle.description %></p>
        <% if (puzzle.exchangeable == true) { %>
          <p>Exhangeable</p>
          <% if (puzzle.isAvailable == true) { %>
            <p>Available for Exchange</p>
            <% } else { %>
              <p>Someone is currently enjoying this puzzle!</p>
            <% }; %>
          <% } else { %>
            <p>Not Exchangeable</p>
        <% }; %> 
        <a href = "/puzzles/<%= puzzle._id %>"><button class="btn btn-info">View</button></a>
      <% }); %>
    </div>
  </body>
</html>