<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEEN Auth Starter</title>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Welcome to your Dashboard <%= user.username %></h1>
    <div>
      <% puzzles.forEach(puzzle => { %>
        <h2><%= puzzle.name %></h2>
        <img src="<%= puzzle.img %>" width="200px">
        <p><%= puzzle.description %></p>
        <% if (puzzle.exchangeable == true) { %>
          <p>Exhangeable</p>
          <% } else { %>
            <p>Not Exchangeable</p>
          <% }; %> 

        <% if (puzzle.isAvailable == true) { %>
          <p>Available for Exchange</p>
          <% } else { %>
            <p>Someone is currently enjoying this puzzle!</p>
          <% }; %>
        <% }); %>
    </div>
  </body>
</html>