<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Puzzle</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= puzzle.title %></h1>
    <img src="<%=puzzle.img%>" width = "500px">
        <% if (puzzle.isAvailable == true) { %>
        <p>Currently Available</p>
        <% } else { %>
            <p>Someone is currently enjoying this puzzle!</p>
        <% }; %>
    <p><%= puzzle.description %></p>
    <form action="/<%= puzzle._id %>/add?_method=PUT", method="POST">
        <button class="btn btn-primary">Add to Exchange Inventory</button>
    </form>
    
</body>
</html>