<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>My Box</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <% user.exchange_inventory.forEach((item, index) => { %>
        <img src="<%= item.img %>" width="300px">
        <h2><%= item.title %></h2>
        <p><%= item.description %> </p>
        <a href="/explore/<%= item._id %>"><button class="btn btn-info">View Details</button></a>
        <form action="/inventory/<%=index%>/<%=item._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Complete and Remove</button>
        </form>
    <% }) %>
</body>
</html>